<h1>Aaaaaannnndd the result is....</h1>
<h1><%= @game %>!!</h1>
</br>
</br>
<!-- following taken from Giphy: -->
<iframe src="https://giphy.com/embed/3rUbeDiLFMtAOIBErf" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/win-argument-3rUbeDiLFMtAOIBErf">via GIPHY</a></p>
