<h1>How to play Rock/Paper/Scissors:</h1>
  <ol>
    <li>Together, players say: "Rock, Paper, Scissors: Shoot!"</li>
    <li>On "shoot," each player shows their weapon of choice;
    either rock, paper, or scissors</li>
    <li>The winner is as follows:</li>
  <div class="rules">
      <ul>
        <li>rock crushes scissors</li>
        <li>scissors cuts paper</li>
        <li>paper covers rock</li>
     </ul>
  </div>
     <li>If both players choose the same, it's a tie!</li>
  </ol>
