<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/:player1/:player2">Game</a></li>
      <li><a href="/game_rules">Game Rules</a></li>
    </ul>
  </nav>
  <%= yield %>
  <img>
</body>
</html>
